<h1>Auto - Image slider</h1>
<div class="slider-frame">
  <div class="slide-images">
    <div class="image-container">
      <%= image_tag "article-01" %>
    </div>

    <div class="image-container">
      <%= image_tag "article-02" %>
    </div>

    <div class="image-container">
      <%= image_tag "article-03" %>
    </div>

    <div class="image-container">
      <%= image_tag "article-04" %>
    </div>

  </div>
</div>
