<div class="navbar">
  <div class="navbar-title">
    <H1>Product Name</H1>
  </div>
  <div class="navbar-buttons">
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </div>
</div>
