<div class="promo-navbar-container">

  <div class="promo-content">
    <span>
      <p>FRENCH DAYS</p>
    </span>
    <span>
      <p>Jusqu'à -50%</p>
    </span>
  </div>

 <div class="contener">
    <div class="group">
      <marquee behavior="" direction="left">Jusqu'a</marquee>
      <p>Jusqu'à * FRENCH DAYS fr *</p>
    </div>
 </div>

</div>
