<div class="promo-navbar-container">

  <div class="promo-content">
    <span>
        <marquee behavior="" direction="left">Jusqu'a * French Days *
          Jusqu'a * French Days *
        </marquee>
    </span>
    <span>
      <p>Jusqu'à -50%</p>
    </span>
  </div>

 <div class="contener">
    <div class="group">
      <span>

      </span>
    </div>
 </div>

</div>
