<div class="promo-navbar-container">

  <div class="promo-content">
    <span>
      <p>FRENCH DAYS</p>
    </span>
    <span>
      <p>Jusqu'à -50%</p>
    </span>
  </div>

  <div class="promo-content">
    <span>FRENCH DAYS</span>
    <span>Jusqu'à -50%</span>
  </div>

</div>
