<div class="promo-navbar-container">

  <div class="promo-content">
    <span>
      <p>FRENCH DAYS</p>
    </span>
    <span>
      <p>Jusqu'à -50%</p>
    </span>
  </div>

 <div class="contener">
    <div class="group">
      <p>Jusqu'à * FRENCH DAYS fr *</p>
    </div>
 </div>

</div>

<script>
  var style = document.createElement('style');
  var position = 'right'

  style.innerHTML = '
  @keyframes my-animation'{
    0%{${position}:-${document.querySelector('.text').offsetWidth + 10}px;}
    100%{${position}: position%;}
  }`;
</script>
