<div class="home-container">

  <div class="home-card-product">
       <%= render "shared/carousel" %>
    <div class="home-card-information">
      <div class="reviews">
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x"></span>
        <p> ( 533 Reviews ) </p>
      </div>
      <div class="home-card-product-title">
        <h2>Title of the product</h2>
      </div>
      <div class="home-card-paragraph">
        <p>A dishwasher is a household appliance designed to clean dishes, utensils, and cookware efficiently and conveniently. It typically consists of a rectangular or square-shaped chamber with racks or baskets to hold dishes.
      </div>
      <div class="home-button-basket">
        <button class="add-to-basket">Add item to my basket</button>
        <h2>Price</h2>
      </div>

    </div>
  </div>

  <div class="home-card-review-info">
    <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x"></span>
        <p>Great article</p>
  </div>


</div>
