<div class="home-container">

  <div class="home-card-product">
    <div class="product">
      <%= image_tag "article-01" %>
    </div>
    <div class="home-card-information">
      <span class="reviews">

      </span>
    </div>
  </div>

</div>
