<div class="home-container">

  <div class="home-card-product">
    <div class="product">
      <%= image_tag "article-01" %>
    </div>
    <div class="home-card-information">
      <div class="reviews">
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x checked"></span>
        <span class="fa fa-star fa3x"></span>
        <p>533 Reviews</p>
      </div>
      <div class="home-card-product-title">
        <h2>Title of the product</h2>
      </div>
      <div class="home-card-paragraph">
        <p>A dishwasher is a household appliance designed to clean dishes, utensils, and cookware efficiently and conveniently. It typically consists of a rectangular or square-shaped chamber with racks or baskets to hold dishes.

The process begins by loading dirty dishes into the dishwasher. Once loaded, the dishwasher fills with hot water, which is mixed with detergent to break down food particles and grease. Then, powerful jets spray the dishes from various angles, thoroughly cleaning them.

After the washing cycle is complete, the dishwasher drains the dirty water and rinses the dishes with clean water. Some dishwashers also have a drying cycle that uses heat or a fan to dry the dishes.</p>
      </div>
    </div>
  </div>

</div>
