.add-to-basket{
background-color: white;
color: rgb(225, 225, 5);
font-size: 24px;
font-weight: bold;
border: solid 2px rgb(225, 225, 5);
border-radius: 15px;
}

.add-to-basket:hover {
  background-color: rgb(225, 225, 5);
}
