.home-card-product {
  width: 100vh;
  height: 100vh;
  display: flex;
  border: solid 1px black
  img {
    width: 525px;
    height: 525px;
  }

  .home-card-information{

    border: solid 1px black;
  }
}
