*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 85vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: solid 8px black;
  border-radius: 20px;

}

.wrapper{
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
  img{
    width: 100%;
  }
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }

  25%{
    transform: translateX(-100%);
  }
  45%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-200%);
  }
  70%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-300%);
  }
  95%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(0);
  }
}
