.home-card-product {
  width: 100%;
  height: 100vh;
  display: flex;
  border: solid 1px black;
  padding: 16px;

  img {
    width: 525px;
    height: 525px;

  }

  .home-card-information{
    width: 100%;
    height: 100%;
    border: solid 1px rgb(255, 0, 0);
    padding: 8px;

    .home-card-paragraph{

    }

  }
}

.home-button-basket{

}
