*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 85vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;

}

.wrapper{
  width: 100%;
  display: flex;
  img{
    width: 100%;
  }

}
