// home-card-product
.home-card-product {
  width: 100%;
  height: 100vh;
  display: flex;
  border: solid 1px black;
  padding: 16px;

  img {
    width: 525px;
    height: 525px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

  .home-card-information{
    width: 100%;
    height: 100%;
    padding: 8px;

    .home-card-paragraph{

    }
  }
}

@media screen and (max-width: 1024px){

  .home-card-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home-card-product img {
    width: 400px;
    height: 400px;
  }

  .home-card-product .home-button-basket{
    display: flex;
    justify-items: center;
  }
}


.home-button-basket{
  display: flex;
  justify-content: left;
  align-items: center;
  border: solid 1px red;
  margin: 0 16px;
}
