.navbar {
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid rgb(27, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  padding: 0 16px;

  .navbar-title{
    font-family: bold;
  }

  a{
    text-decoration: none;
    color: black;
  }
  .navbar-buttons{
    a {
      margin: 0 16px;
    }

  }

  .navbar-total{

  }


}
