.navbar {
  justify-content: space-between;
  height: 10vh;
  border-bottom: 1px solid rgb(27, 26, 26);
  padding: 0 16px;

  .navbar-title{
    font-family: bold;
  }

  a{
    text-decoration: none;
    color: black;
  }
  .navbar-buttons{
    padding: 0 16px;

  }

  .navbar-total{

  }


}
