// promo-navbar-container
.promo-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: rgb(28, 27, 26);
  width: calc(--w * 1px);
  overflow: hidden;
  padding: 16px 0;
  white-space: nowrap;
  position: relative;
  color: white;
}
// promo-navbar-container



// }

:root {
  --w: 300;
  --speed: 1.5s;
}

ul {
  display: flex;
  flex-wrap: nowrap;
   animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}
ul li {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  animation: liMove calc(var(--speed)) infinite;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

@keyframes liMove {
  0% {
    transform: translate(0, 0);
  }
  80%,
  100%  {
    transform: translate(calc(var(--w) * -1px), 0);
  }
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
}
