// promo-navbar-container
.promo-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: rgb(34, 34, 37);
  border: solid 1px rgb(0, 0, 255);
}

.marquee{
  background-color: black;
  color: white
}
