// promo-navbar-container
.promo-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  position: relative;
  display: block;
  transform: translate(-50%, -50%);
  overflow:matrix() hidden;
}

.promo-content{
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.promo-content span{

}
