// promo-navbar-container
.promo-navbar-container{
  display: flex;
  height: 5vh;
  width: 100%;
  background-color: rgb(28, 27, 26);
  width: calc(--w * 1px);
  overflow: hidden;
  padding: 16px 0;
  white-space: nowrap;
  position: relative;
  color: white;
}
// promo-navbar-container

// @keyframes slide {
//   from {
//     transform: translateX(0);
//   }
//   to{
//     transform: translateX(-100%);
//   }

// }

:root {
  --w: 300;
  --speed: 1.5s;
}
