// promo-navbar-container
.promo-navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  background-color: rgb(28, 27, 26);
  width: calc(--w * 1px);
  overflow: hidden;
  padding: 16px 0;
  white-space: nowrap;
  position: relative;
  color: white;
}
